%h1 Link Box

-if @current_user
  = button_to "Log Out", logout_path, method: :delete, class: "btn btn-danger"

.col-md-4
  %h2 Add New Link:
  .form
    =form_for @link, url: link_index_path do |f|
      .form-group
        Title:
        =f.text_field :title
      %br
      .form-group
        Url:
        =f.text_field :url
      %br
      =f.submit class: "btn"

    %h2 Search Links:
    =text_field_tag "filter_query", "", class: "form-control", id: "filter-bar"

.col-md-8
  %h2 Links:
  #link-list
    -@links.each do |link|
      .link
        =content_tag :h2, link.title, class: "link-title"
        =content_tag :h3, link.url, class: "link-url"
        =content_tag :p, "Status: #{link.status}", class: link.status, id: "status-#{link.id}"

        - if link.read?
          =button_tag "Mark as unread", class: "change-button-status read-button btn", id: link.id
        - else
          =button_tag "Mark as read", class: "change-button-status unread-button btn", id: link.id

        =button_to "Edit", edit_link_path(link), method: :get, class: "btn"
