=form_for @user, url: user_index_path do |f|
  Email:
  = f.text_field :email
  Password:
  = f.text_field :password
  Confirm password:
  = f.text_field :password_confirmation
  = f.submit "Register"
