%h1 Sign up:

=form_for @user, url: user_index_path do |f|
  Email:
  = f.text_field :email
  %br
  Password:
  = f.text_field :password
  %br
  Confirm password:
  = f.text_field :password_confirmation
  %br
  = f.submit "Register", class: "btn btn-primary"
